<div class="modal-header">
    <h4 class="modal-title">¡Hay alguien que quiere jugar con tigo!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p>¡{{nombrejugador}} te ha invitado a jugar en su partida!</p>
    <p>Para jugar con el ingresa a la partida {{alias}}</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>